<img src="<%= building.image_url %>" alt="">
<p><%= building.title %></p>

<style type="text/css">
  .mapboxgl-popup {
    width: 120px;
    max-width: 120px;
  }
  .mapboxgl-popup p {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
  }
  .mapboxgl-popup img {
    max-width: 120px;
  }
  .mapboxgl-popup-content {
    overflow: hidden;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #3c51eb;
    border-radius: 10px;
    padding: 0;
  }
  .mapboxgl-popup-tip {
    color: #3c51eb;
  }
  .mapboxgl-popup-close-button {
    visibility: collapse;
  }
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #3c51eb;
    opacity: 0;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #3c51eb;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #3c51eb;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #3c51eb;
  }
</style>
